body,html{
  background-color: white;
  height: 100%;
  margin:0;
}

.sample
{
	background-color: black;
	height:120px;
}
.sample .rectangle
{
	width:33%;
	box-sizing: border-box;
	height:1px;
	float:left;
}



.sample .rectangle .third1 img
{
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:50px;
	background-repeat: no-repeat;
}

.sample .rectangle .third3
{
	margin:0;
	top:0px;
	height:120px;
	text-align:left;
	border-left-style:solid;
	border-left-color:#777777;
	border-left-width:1px;
}

.sample .rectangle .third3 .menu1 ul
{
	margin:0;
	padding-inline-start: 10px;
}

.sample .rectangle .third3 .menu1 li
{
	margin:0;
	height:120px;
	padding-top: 50px;
    padding-bottom: 50px;
	text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-left: 0;
	float: none;
    vertical-align: top;
	display: inline-block;
	color: #f5f5f0;
	text-decoration:none;
}



.sample .rectangle .third3 a:hover
{
	background-color:#777777;
}

.block{
	width:25%;
	box-sizing: border-box;
	height:1px;
	float:left;
}

.blocker{
	width:45%;
	box-sizing: border-box;
	height:1px;
	float:left;
}

.block .box1{
	padding-top:45px;
	padding-left:60px;
}

.block .box4{
	height:190px;
	padding: 10px 10px;
	text-align:left;
	border-left-style:solid;
	border-left-color:#777777;
	border-left-width:1px;
}

.block .box4 h5{
	color:red;
	text-align:left;
	padding-inline-start: 40px;
}

.block .box4 .menu2 ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align:left;
    padding-inline-start: 40px;
}

.block .box4 .menu2 li{
	padding: 6px 0;
    display: list-item;
    text-align: -webkit-match-parent;
	list-style-type: none;
	hyphens: none;
	list-style: none;
	text-align:left;
}

.block .box4 .menu2 a{
	transition: all 0.3s ease-in-out;
	background: transparent;
	cursor: pointer;
	word-break: keep-all;
    line-break: loose;
	text-align:left;
	text-decoration:none;
}

.white_space
{
	background-color: #f5f5f0;
	height:190px;
}

.grey_space
{
background-color: #f5f5f0;
height:25px;
}



.slider_col 
{
	background-color: #f5f5f0;
}



/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}


.copyright a{
  display: block;
  color: white;
  padding: 25px 60px;
  text-decoration: none;
}

.main img{
	float:right;
	padding-right:40px;
	border-radius: 15px;
	height:400px;
	width:400px;
}


.main ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align:left;
    padding-inline-start: 40px;
}

.main li
{
  list-style-type: square;
  padding: 6px 0;
  display: list-item;
  text-align: -webkit-match-parent;
  text-align:left;
}


.white_space .centeredimage
{
	padding-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	background-color:color: #f5f5f0;
}


.white_spaced .quoter
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color:color: #f5f5f0;
	position:relative;
}

.white_spaced
{
	background-color: #f5f5f0;
	height:513px;
	position: relative;
    text-align: center;
	color:red;
}

.centertext img{
	float:left;
	padding-left:20px;
	padding-right:20px;
	border-radius: 15px;
	height:110px;
	width:160px;
}

.centertext .rightimage{
	float:right;
	padding-left:20px;
	padding-right:20px;
	border-radius: 50px;
	height:200px;
	width:250px;
}


@media (min-width: 768px) {
    .centertext p{
	font-size: 1.5em !important;
	text-align:left;
	color:black;
	padding-left:20px;
	padding-bottom:10px;
	}	

	.sample .rectangle .third3 .menu1 a
	{
	margin:0;
	max-height:120px;
	font-size:1.25em!important;
	padding-top: 60px;
    padding-bottom: 42px;
	padding-left:5px;
	padding-right:5px;
	color: white;
	text-decoration:none;
	}

.copyright {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  font-size: 1em!important;
	}

.centertext h2{
		font-size: 3.33em!important;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}

.centertext h3{
	font-size: 2.5em!important;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main h3{
	font-size: 2.5em!important;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main h4{
	font-size: 1.66em!important;
	color:black;
	margin-bottom: 0;
	padding-left:20px;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: left;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main p{
	font-size: 1.5em!important;
	color:black;
	padding-left:20px;
	padding-bottom:10px;
	}
	
	.white_space .button h6
{
    font-size: 4em!important;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.redbutton
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.33em!important;
  cursor: pointer;
  border-radius:50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}
	
	.contactdetails h1
{
	font-size: 4.16em!important;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails h3
{
	font-size: 2.5em!important;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails h4
{
	font-size: 1.66em!important;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails p
{
	font-size: 1.5em!important;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.white_space p
{
	font-size: 1.25em!important;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.white_spaced .quote h1
{
    font-size: 2em!important;
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
	text-align:center;
	border-style:solid;
	border-bottom-width:2px;
	border-color:red;
	border-radius:20px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	top:243px;
	line-height:2.5;
	}
}

@media only screen and (max-width: 768px) {
 .centertext p{
	font-size: 2.5em;
	text-align:left;
	color:black;
	padding-left:20px;
	padding-bottom:10px;
	}	

	.sample .rectangle .third3 .menu1 a
	{
	margin:0;
	max-height:120px;
	font-size:1.25em;
	padding-top: 60px;
    padding-bottom: 42px;
	padding-left:5px;
	padding-right:5px;
	color: white;
	text-decoration:none;
	}

.copyright {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  font-size: 2em;
	}

.centertext h2{
		font-size: 4.33em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}

.centertext h3{
	font-size: 3.5em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main h3{
	font-size: 3.5em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main h4{
	font-size: 2.66em;
	color:black;
	margin-bottom: 0;
	padding-left:20px;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: left;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main p{
	font-size: 2.5em;
	color:black;
	padding-left:20px;
	padding-bottom:10px;
	}
	
	.white_space .button h6
{
    font-size: 5em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.redbutton
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.33em;
  cursor: pointer;
  border-radius:50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}
	
	.contactdetails h1
{
	font-size: 5.16em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails h3
{
	font-size: 3.5em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails h4
{
	font-size: 2.66em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails p
{
	font-size: 2.5em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.white_space p
{
	font-size: 2.25em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.white_spaced .quote h1
{
    font-size: 3em;
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
	text-align:center;
	border-style:solid;
	border-bottom-width:2px;
	border-color:red;
	border-radius:20px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	top:243px;
	line-height:2.5;
	}
}

 .centertext p{
	font-size: 2.5em;
	text-align:left;
	color:black;
	padding-left:20px;
	padding-bottom:10px;
	}	

	.sample .rectangle .third3 .menu1 a
	{
	margin:0;
	max-height:120px;
	font-size:1.25em;
	padding-top: 60px;
    padding-bottom: 42px;
	padding-left:5px;
	padding-right:5px;
	color: white;
	text-decoration:none;
	}

.copyright {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  font-size: 2em;
	}

.centertext h2{
		font-size: 4.33em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}

.centertext h3{
	font-size: 3.5em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main h3{
	font-size: 3.5em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main h4{
	font-size: 2.66em;
	color:black;
	margin-bottom: 0;
	padding-left:20px;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: left;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.main p{
	font-size: 2.5em;
	color:black;
	padding-left:20px;
	padding-bottom:10px;
	}
	
	.white_space .button h6
{
    font-size: 5em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.redbutton
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.33em;
  cursor: pointer;
  border-radius:50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}
	
	.contactdetails h1
{
	font-size: 5.16em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails h3
{
	font-size: 3.5em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails h4
{
	font-size: 2.66em;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.contactdetails p
{
	font-size: 2.5em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.white_space p
{
	font-size: 2.25em;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
	}
	
	.white_spaced .quote h1
{
    font-size: 3em;
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
	text-align:center;
	border-style:solid;
	border-bottom-width:2px;
	border-color:red;
	border-radius:20px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	top:243px;
	line-height:2.5;
	}