body,html{
  background-color: white;
  height: 100%;
  margin:0;
}

.sample
{
	background-color: black;
	height:120px;
}
.sample .rectangle
{
	width:33%;
	box-sizing: border-box;
	height:1px;
	float:left;
}



.sample .rectangle .third1 img
{
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:50px;
	background-repeat: no-repeat;
}

.sample .rectangle .third3
{
	margin:0;
	top:0px;
	height:120px;
	text-align:left;
	border-left-style:solid;
	border-left-color:#777777;
	border-left-width:1px;
}

.sample .rectangle .third3 .menu1 ul
{
	margin:0;
	padding-inline-start: 20px;
}

.sample .rectangle .third3 .menu1 li
{
	margin:0;
	height:120px;
	padding-top: 50px;
    padding-bottom: 50px;
	text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-left: 0;
	float: none;
    vertical-align: top;
	display: inline-block;
	color: #f5f5f0;
	text-decoration:none;
}

.sample .rectangle .third3 .menu1 a
{
	margin:0;
	max-height:120px;
	font-size:20px;
	padding-top: 60px;
    padding-bottom: 42px;
	padding-left:10px;
	padding-right:10px;
	color: white;
	text-decoration:none;
}

.sample .rectangle .third3 a:hover
{
	background-color:#777777;
}

.block{
	width:25%;
	box-sizing: border-box;
	height:1px;
	float:left;
}

.blocker{
	width:45%;
	box-sizing: border-box;
	height:1px;
	float:left;
}

.block .box1{
	padding-top:45px;
	padding-left:60px;
}

.block .box4{
	height:190px;
	padding: 10px 10px;
	text-align:left;
	border-left-style:solid;
	border-left-color:#777777;
	border-left-width:1px;
}

.block .box4 h5{
	color:red;
	text-align:left;
	padding-inline-start: 40px;
}

.block .box4 .menu2 ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align:left;
    padding-inline-start: 40px;
}

.block .box4 .menu2 li{
	padding: 6px 0;
    display: list-item;
    text-align: -webkit-match-parent;
	list-style-type: none;
	hyphens: none;
	list-style: none;
	text-align:left;
}

.block .box4 .menu2 a{
	transition: all 0.3s ease-in-out;
	background: transparent;
	cursor: pointer;
	word-break: keep-all;
    line-break: loose;
	text-align:left;
	text-decoration:none;
}

.white_space
{
	background-color: #f5f5f0;
	height:190px;
}

.grey_space
{
background-color: #f5f5f0;
height:25px;
}



.slider_col 
{
	background-color: #f5f5f0;
}


.bgimg {
  background-color: white;
  /*background-image: repeating-linear-gradient(white, grey); /* For IE8 and earlier */
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: black;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
    height: 20%;
	width: 30%;
  /* Center the background image */
  /* Scale and zoom in the image */
  background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

.copyright {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  font-size: 12px;
}

.copyright a{
  display: block;
  color: white;
  padding: 25px 60px;
  text-decoration: none;
}

.main img{
	float:right;
	padding-right:40px;
	border-radius: 15px;
}

.main ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align:left;
    padding-inline-start: 40px;
}

.main li
{
  list-style-type: square;
  padding: 6px 0;
  display: list-item;
  text-align: -webkit-match-parent;
  text-align:left;
}

.white_space .button h6
{
    font-size: 60px;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
}

.redbutton
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contactdetails h1
{
	font-size: 50px;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
}

.contactdetails h3
{
	font-size: 30px;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
}

.contactdetails h4
{
	font-size: 20px;
	color:red;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
}

.contactdetails p
{
	font-size: 15px;
	margin-bottom: 0;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
	position: relative;
    z-index: 10;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
}