body,html{
  background-color: white;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

.sample
{
	background-color: black;
	height:100px;
	background-image: url("sampler.png");
	background-repeat: no-repeat;
}

.bgimg {
  background-color: #000000;
  background-image: repeating-linear-gradient(white, grey); /* For IE8 and earlier */
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: black;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
    height: 20%;
	width: 30%;
  /* Center the background image */
  /* Scale and zoom in the image */
  background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

.footer li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.footer li a:hover {
  background-color: #333;
}

.footer .copyrightOne .copyright {
  color: #333;
}

.footer .copyrightOne .copyright {
  background-color: black;
}

.footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;

  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.footer .fa:hover {
  opacity: 0.7;
}

.footer .fa .fa-facebook {
  background: #3B5998;
  color: white;
  width: 30px;
  height: 30 px;
}

.footer .fa .fa-twitter {
  background: #55ACEE;
  color: white;
  width: 30px;
  height: 30 px;
    display: block;
	float:left;
}

.footer .fa li{
  float: left;
}
